<footer class="footer-sticky">
  <div class="f-info">
    <div>
      <i class="fas fa-university CampusConnect"></i>&nbsp;&nbsp;&nbsp;&nbsp;
      <b class="webName">CampusConnect</b>
    </div>
    <br />
    <h5>HELPUL LINKS</h5>

    <div class="useful_links">
      <a href="/listings/AddEvent">Add New Event</a><br />
      <a href="/club/AddClub">Add New Club</a><br />
      <a href="/school/AddSchool">Add New School</a><br />
    </div>

    <div class="contacts">
      <div class="f-info-links">
        <i class="fa-solid fa-envelope"></i> &nbsp;contact@campusconnect.edu
        <br />

        <i class="fa-solid fa-phone"></i>&nbsp;+91 98XXX XXX10
      </div>
      <br />
      <span class="vertical-line white"></span>
      <div class="f-info-socials">
        <br />
        <i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-twitter"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-facebook"></i>&nbsp;
      </div>
    </div>
    <br />
    <p>&copy; <span id="year"></span> CampusConnect. All rights reserved.</p>
    <br />
  </div>
</footer>

