
<% layout("/layouts/boilerplate.ejs") %>

  <div class="row">
    <div class="col-8 offset-3">
    <form action="/school/AddSchool" method="POST" novalidate class = "needs-validation" enctype="multipart/form-data">
      
<h3  style="color: #121212;">Add School</h3>
<br>
      <div class="row">
        <div class="col-md-4">
        <label for="name"  style="color: #121212"  class="form-label ">Name of School:</label>
        <input type="text" id="name" name="name" placeholder="School Of Engineering" class="form-control mb-3" required>
      <div class="invalid-feedback">Enter the name of school</div>
        
      </div>
        <div class="col-md-8">
            <label for="dean"  style="color: #121212"  class="form-label ">Dean:</label>
            <input type="text" id="dean" name="dean" placeholder="Dr. Emily Green" class="form-control mb-3" required>
      <div class="invalid-feedback">Enter name of Dean</div>

          </div>
        
          </div>
  
     
          <div>
            <label for="location"   style="color: #121212"  class="form-label ">Location:</label>
            <input type="text" id="location" name="location" placeholder="Business School Building" class="form-control mb-3"required>
      <div class="invalid-feedback">Enter location</div>

          </div>
          <div>
            <label for="description"   style="color: #121212"  class="form-label ">Description:</label>
            <textarea type="text" id="description" name="description" placeholder="The School of Business offers undergraduate and graduate programs in fields such as Business Administration, Accounting, and Finance. It also provides professional development opportunities and networking events for students." class="form-control mb-3"required></textarea>
      <div class="invalid-feedback">Enter description</div>

          </div>
          <div>
            <label for="website"   style="color: #121212"   class="form-label ">Website:</label>
            <input type="text" id="website" name="website" placeholder="https://business.school.edu" class="form-control mb-3" required>
      <div class="invalid-feedback">Enter website URL</div>

          </div> 
          <br>
          <div class="row">
            <div class="mb-3">
              <label for="image" style="color: #121212" class="form-label"
                >School Poster URL/Link:</label
              >
              <input 
                name="schoollisting[image]"
                type="file"
                id="image"
                class="form-control"
                required
              />
            </div>
          </div>
          <br />
          <button class="btn btn-dark">Add School</button>
          
        </div>
        </div>

    </form>
</body>


